
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    /*VARIAVEIS*/
    --bgcolor: #edf2ff;
    --text-color: #00082f;
    --primary-color: #4263eb;
    --primary-color-dark: #364bc7;
}

body.dark-blue {
    --bgcolor:#00082f;
    --text-color: #fff;
}

body.pink {
    --bgcolor:#fff0f6;
    --text-color: #1f000b;
    --primary-color: #d6336c;
    --primary-color-dark: #a61e4d;
}

body.dark-pink-blue {
    --bgcolor: #1f000b;
    --text-color: #d6336c;
    --primary-color: #d6336c;
    --primary-color-dark: #a61e4d;
}

body {
    background: var(--bgcolor);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 150px;
    padding: 4px;
    border: var(--primary-color) solid 4px;
}

h1 {
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
    margin-bottom: 8px;
}

ul {
    margin: 48px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    background: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin: 16px 0;
    border-radius: 6px;
    transition: background 400ms;
}

/*pseudo class*/
ul li a:hover {
    background: var(--primary-color-dark);
}

footer:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}

footer {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

footer a {
    color: var(--text-color);
    transition: opacity 400ms;
}


